#main-page-content
  .pricing-div
    display block
    position relative
    height 100%
    width 100%
    padding: 2% 3%
    text-align center
  //style for price chart
  .view-pricing
    display block
    width 100%
    height auto
    position relative
    background #fff
    clearfix()
    .price-item
      display block
      float left
      position relative
      width 25%
      border 1px solid #def5fa
      padding 1.5%
      text-align center
      transition all .3s ease
      color #25c6da
      //styles for smaller device
      +below(2)
        width 50%
      +below(1)
        width 100%
      &:hover
        background #25c6da
        color #fff
        .feature-block
          ul
            li.feature
              color white

      .title-package
        font-size 1.8rem
        margin 10px 0
      .price-package
        font-size 1.4rem
        margin 10px 0
      .feature-block
        display block
        width 100%
        height auto
        p
          width 80px
          display block
          height auto
          margin 0 auto
          .icon-package
            display block
            margin-bottom 23px
            box-shadow 0 0 4px rgba(0, 177, 193, .85)
            font-size 50px
            line-height 75px
            border-radius 100px
            height 78px
            width 78px
            background #25c6da
            color white
          p
            width 78px
            height 78px
            background #25c6da
            font-size 60px
            border-radius 100px
            color white
            box-shadow 0 0 4px rgba(0, 177, 193, .85)
            margin-bottom 20px
        ul
          list-style none
          li.feature
            font-size 1.2rem
            padding 5px 0 3px
            cursor pointer
            margin 0 0 3px
            text-transform none
            transition all 0.3s ease
            color #25c6da
            &:hover
              background white
              color #25c6da