.space-one {
  display block
  margin-bottom 10px
}

.fastrack_store
  padding 2%
  width 90%
  margin 0 auto
  background aquamarine
  color black
  font-family "Century Gothic", "Trebuchet MS"
  height 100%
  clearfix()
  form
    width 64%
    display block
    float left
  .view-pro-less
    display block
    float: left
    width 35%
    padding 10px
    margin 0
    img
      width auto
      height 150px
      display block
      margin 0 auto
    p
      margin 10px
      text-align center
  +below(2)
    form , .view-pro-less
      width: 100%
.form-success
    color: green
