#main-page-content
  width 100%
  height auto
  //the starting text text-then
  .intro-service
    text-align center
    h3
      line-height 1.7
      font-size 1.5rem
      display block
      background rgb(72, 207, 173)
      transition all 0.4s ease 0.1s
      color white
      &:hover
        i
          color $color_main
      &:after //hover style for after block style line
        color $color_main
      i //icon-quote
        font-size 2rem
        margin 10px
        display inline-block
      &:after
        content ""
        display block
        height 5px
        background #2B6959
        margin 10px 20px
  //common page block setting
  .feature-block
    display block
    position relative
    height auto
    width 100%
    margin 0 0 30px 0
    clearfix()
    .service-img-description
      display block
      //styles for workflow step
      .work-flow-content
        display block
        position relative
        //if its just a img instend of list
        img
          display block
          width auto
          margin 0 auto
          +below(3)
            width 100%
        ul
          list-style none
          text-decoration none
          width 100%
          height auto
          position relative
          padding 2% 5%
          li
            display block
            float left
            width 25%
            margin 0
            padding 0
            +below(2)
              width 50%
            +below(1)
              width 100%
            figure
              width 100%
              display block
              margin 0
              position relative
              height auto
              padding 0
              p
                width 100%
                position relative
                margin-bottom 12px
                img
                  display block
                  width auto
                  height auto
                  margin 0 auto
              figcaption
                font-size 1.5rem
                margin 15px 10px
                color #25c6da
                transition all .3s ease
                padding 0 5px
                width 100%
                text-align center

                a
                  text-decoration none
              &:hover
                figcaption
                  color ff9700
    //style for the section where we describe services generally after pointed description
    .service-text-description
      display block
      //styles for list description
      .description-list
        display block
        width 100%
        height auto
        padding 2% 3%
        margin-bottom 50px
        .feature-list-intro
          width 50%
          height 100%
          color white
          position relative
          display flex
          justify-content center
          align-items center
          border 7px solid #2F6559
          margin 0 auto
          +below(2)
            width 100%
          h2
            font-size 300%
            margin 0
            padding 5px 10px
            height 100%
            border 10px dotted #2F6559
          div
            display inherit
            border-bottom  7px solid #2F6559
            width 80%
            height 100%
            p
              font-size 200%
              padding 5px
              margin 0
              font-style italic
        ul.tech-feature
          list-style none
          width 80%
          margin 30px auto 0 auto
          +below(2)
            width 100%
          li
            display block
            font-size 1.2rem
            line-height 1.3
            border-bottom: 1px solid
            padding 5px
            color aquamarine
            transition all .3s ease
            border-color aquamarine
            &:hover
              background aquamarine
              color black
            +below(3)
              font-size 1.5rem
            i
              padding 8px
              background white
              color #00BCD4
              margin-right 10px
              border-radius 50%
          li:nth-of-type(2n+1)
            border-left: 1px dotted aquamarine
          li:nth-of-type(2n)
            border-right: 1px dotted aquamarine

      //styles for text-description
      .description-content
        display flex
        margin 20px 0
        padding 15px
        .des-title-side
          width 25%
          padding 1.5%
          color aquamarine
          border-right 5px solid
          border-left 5px solid
          font-size 180%
        h3
          display block
          width 85%
          margin 0 auto
          text-align left
          line-height 1.4
          padding 0 0 0 3%

    h2 //the title
      text-align center
      strong
        text-transform capitalize
        font-size 150%
      span
        font-size inherit
        padding 6px
        border 2px dotted
        color darkslategrey

  //intro starting with intro text
  .contact-service
    text-align center
    border-top 5px solid #35E5CE
    p
      font-size 1.3rem
      line-height 1
      color aquamarine
