#login-buttons
  display: block
  position: relative
  input
    color: black
    font-family: sans-serif;
    display: block;
    width: 80%
    margin: 0 auto
  .login-link-and-dropdown-list
    display: flex !important
    width: 100%
    height: 100%
    justify-content: center
    a.login-link-text
      display: block;
      color: #7FDBFF
      overflow: hidden
      &:hover
        cursor: pointer;
        color:white
        padding: 5px
        text-decoration: none;
    #login-dropdown-list
      font-family: sans-serif;
      position: absolute
      text-align: center
      top 80px
      right: 0
      width: 300px;
      padding: 0
      background: #607D8B
      border: 1px solid white
      color: white
      +below(3)
        width: 320px
      +below(2)
        width: 340px
      //for forgot pass and for creating new account text
      .additional-link-container
        display: block;
        a
          color: #CDDC39
          font-size: 1.2rem
          padding: 5px
          cursor: pointer
      a.login-close-text
        color: white
        text-decoration: none
        background: aqua
        width: 100%
        height: 100%
        padding: 5px
        display: flex;
        margin-bottom: 15px
        p
          flex-basis: 80%
          margin: 0
          padding: 5px 5px 5px 10px
        i
          color: aqua
          background: white
          padding: 10px
          border-radius 50%
          text-align: right
        &:hover
          background: #209A7E
      div.login-button
       padding: 10px
       cursor: pointer
       border-bottom: 2px solid
       transition: .3s 0s ease-in
       &:hover
         background: #209A7E
      & > div:not(.login-close-text-clear,.or)
        padding: 5px
    //style for creating account or login account
    .login-form,.login-password-form
      height: 100%
      div
        margin: 5px
        label
          width: 100%
          display: block
          margin-right: 5px
        input
          padding: 5px
      .message,.error-message
        font-style: italic;
        font-size: 110%
        text-align: justify
        color: #03A9F4
    #login-old-password-label-and-input
      padding: 5px
      label
        margin: 10px 0
        width: 100%
        display: block

 //login style in slide menu mmenu when the display size is less than 400
 .login-extra
   display block
   #login-buttons
     display block
     .login-link-and-dropdown-list,.login-form-sign-in
       display block
       width 100%
       height 100%
       flex-direction column
       a.login-link-text
         display block
         padding 5px
         text-align center
         border-bottom 2px dotted #2B2B2B
         font-size 100%
       #login-dropdown-list
         top: 0
         position relative
         width 100%
         margin-top 10px
         clearfix()
         .login-close-text
           color black
           font-weight bold
           cursor pointer

.tab-content form .user_message
  color:#FFEB3B
  padding: 0
  margin: 10px
  font-size: .9rem
  font-style: italic
