.ok-header__logo
  &:hover
    color #546edb

main
  margin-top 7rem
  padding 2%
  text-align center

.berger-menu
  display block
  position relative
  margin 0 auto
  height 45px
  width 45px
  z-index 1
  .berger-menu__icon
    position absolute
    top 50%
    left 50%
    margin-left -20px
    -webkit-transition-property -webkit-transform
    transition-property transform
    -webkit-transition-duration .3s
    transition-duration .3s
    &:before
      top 13px
      -webkit-transition-property top
      transition-property top
      -webkit-transition-duration .3s
      transition-duration .3s
      -webkit-transition-delay .2s
      transition-delay .2s
    &:after
      bottom 13px
      -webkit-transition-property bottom
      transition-property bottom
      -webkit-transition-duration .3s
      transition-duration .3s
      -webkit-transition-delay .2s
      transition-delay .2s
  &:hover
    .berger-menu__icon
      &:before
        top 16.9px
      &:after
        bottom 16.9px
  &.open
    .berger-menu__icon
      -webkit-transform rotate(-45deg)
      -ms-transform rotate(-45deg)
      transform rotate(-45deg)
      -webkit-transition-property -webkit-transform
      transition-property transform
      -webkit-transition-duration .3s
      transition-duration .3s
      &:before
        top 0
        -webkit-transform rotate(90deg)
        -ms-transform rotate(90deg)
        transform rotate(90deg)
        -webkit-transition-property top, -webkit-transform
        transition-property top, transform
        -webkit-transition-duration .3s
        transition-duration .3s
        -webkit-transition-delay 0, .2s
        transition-delay 0, .2s
      &:after
        bottom 0
        opacity 0
        -webkit-transition-duration .5s
        transition-duration .5s
        -webkit-transition-property bottom
        transition-property bottom

.berger-menu .berger-menu__icon, .berger-menu .berger-menu__icon:before, .berger-menu .berger-menu__icon:after
  height 3px
  width 35px
  background-color #55557B

.berger-menu .berger-menu__icon:before, .berger-menu .berger-menu__icon:after
  content ''
  position absolute
  left 0

.berger-menu.open .berger-menu__icon, .berger-menu.open .berger-menu__icon:before, .berger-menu.open .berger-menu__icon:after
  background-color #fff

