@require "./constant.styl"
normalize-css()

common_head()
  width: 100%
  height: auto
  background: $color_main

header
  display flex
  background: $color_main
  flex-direction: column
  .header-head
    display flex
    width 100%
    height 80px
    font-family 'Advent Pro'
    justify-content space-between
    #nav-main
      flex-basis 75%
      width: 75%
      display flex
      align-items center
      justify-content center
      +below(3)
         flex-basis 65%
         width 65%

      .okayNav__menu-toggle
        top: 0
  .slide-menu
    text-decoration: none
    padding: 10px
  .login-init
    flex-basis: 9%
    +below(3)
      flex-basis 14%
      width: 10%

  .logo
    flex-basis: 10%
    display: flex;
    height: initial
    font-size 1.5rem
    align-items: center
    +below(2)
      flex-basis 15%
    img
      height: 65px
      padding: 5px
      +below(3)
        width: 70px
    +below(3)
      width 100%
      height auto
    +below(2)
      height 100%
      width 100%
  h3
    padding 0 15px
  #nav-main
    ul
      list-style: none
    ul.okayNav__nav--visible
      background #209A7E
      padding 0
      li
        transition all .3s linear
        &:hover
          background $color_main
          border-bottom 3px solid #4B7866
          border-top 3px solid #4B7866
          a
            font-size 1.2rem
            color #5F5E54
        a
          text-decoration none
          font-weight lighter
  //style overlapping for defult plugin okNav
  .okayNav__nav--invisible
    li
      border-bottom 1px solid whitesmoke
      a
        background #307D6C

#user
  padding: 12px
  border: 2px solid white
  border-radius: 25px
  cursor: pointer
  color: white
  &:hover
    box-shadow: 2px 3px 3px black
  i
    display: inline-block;
  a
    display: inline-block;
    #login-buttons
      div
        #login-dropdown-list
          padding: 20px
          right: -40px
          left: initial
          top: 40px !important

// longest module where there will be slideshow or hero//
.header-main
  background $main_light
  height: auto
  width: 100%
  display flex
  min-height 350px
  //clip-path: polygon(0px 100%,85% 100%,100% 0px,0px 0px)
  .service-slide
    flex-basis: 40%
    border-left: 5px solid #009688
    //background-color: rgba(129, 179, 166, 0.6)
    height: 350px
    //margin-top: 1%
    box-sizing: border-box
    background-color: rgb(82, 173, 150);
    background-image: url("/img/3.png");
    +below(3)
      flex-basis: 65%
    +below(2)
      flex-basis: 100% // same h3 background and same icon el,so saving it as common val
    .service-slide-title
      display: flex
      height: 20%
      span.slide-dir
        flex-basis: 15%
        padding: 15px 5px
        font-size: 2em
        color: white
        background: cadetblue
        box-sizing: border-box
        border-bottom: 2px solid white
        cursor: pointer
      h3.service-name
        text-align: center
        width: 100%
        margin: 0
        font-size: 2rem
        box-sizing: border-box
        border: 5px solid white
        font-style: italic
        color: white
        background: #3C8776 url("/img/4.png") fixed
        +below(2)
          padding 10px o

    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    ul
      list-style: none
      display: flex
      flex-direction: column
      padding: 0
      margin: 0
      height: 80%
      li:nth-last-of-type(1)
        border-bottom: none
      li
        flex: auto 1 1
        border: 1px solid #009688
        padding: 3% 1%
        box-sizing: border-box
        height: 100%
        cursor pointer
        &:hover
          box-shadow: 5px 5px 5px #5a9284
        +below(3)
          text-indent: 10px
          font-size: 1em
        div
          margin-left: 35%
          display: flex
          font-size: 1.2rem
          +below(2)
            font-size: 1.5rem
          a
            color: white
            text-decoration: none
            width: 90%
          i
            width: 10%
            color: #3C8776
  .hero-text
    font-size 3em
    flex-basis 60%
    padding 4%
    box-sizing content-box
    +below(3)
      flex-basis: 35%
      padding: 1.5%
    +below(2)
      display: none
    .main-hero
      font-size 110%
      margin 10px
      text-align center
      text-transform uppercase
      color #607D8B
      +below(2)
        font-size 80%
    .info-hero
      font-size 40%
      border-right 20px outset $main_light
      border-left 20px inset $main_light
      border-radius 7%
      box-sizing border-box
      text-align center
      font-style italic
      padding 5px 5%
      border-bottom 5px solid #52776E
      border-top 5px solid #52776E
      color #F3EFEF
      &::first-line
        font-size 110%
        display block
        line-height 1.3

// header-tail where secondary menu will take plce with some icon and info
.header-tail
  common_head()
  display block
  text-align center
  background: $color_main
  +below(2)
    height: auto
    position: relative
  ul.info-menu
    list-style none
    display flex
    flex-wrap wrap
    //grid for latestP
    display: grid
    grid: 25% 25% 25% 25% / 110px
    padding 0

    +below(2)
      grid: 50% 50% / 100px 100px
    li.point
      background $main_light
      min-height: 100px
      box-sizing border-box
      font-size 1.2em
      color black
      font-weight bold
      cursor pointer
      flex-basis 50%
      border: 5px solid $color_main
      border-bottom: 10px solid #83ECD5
      height: auto
      z-index: 10
      &:hover
        background lighten($teal, 45%)
        //transform skew(5deg)
        //border-radius 15% 1%
        transition all .5s linear .1s
      +below(2)
        padding: 5px
        width 100%
      a
        text-decoration: none
        font-size: 1.2rem
        padding: 2%
        margin-bottom: 10px
        display: block
        color: black
        font-family: cursive
        font-variant: small-caps
      //this is the span  which contain i
      span
        display: table
        width: 60px
        height: 50px
        border-radius: 5%
        background: #83ECD5
        margin: 0 auto

        i
          display: table-cell
          color: black
          vertical-align: middle
