.product-gallery-pro
  max-width: 960px
  margin: 0 auto
  font-family sans-serif
  h1
    font-size 35px
    font-weight 300
    flex 1
  h5
    font-weight 500
    line-height 1.2rem
    font-size: 1rem
    margin: 5px
    +below(3)
      font-size 115%
    +below(2)
      font-size 125%
  h6
    color #666
    font-size 18px
    margin: 8px
  .product-filter
    display: flex
    padding: 20px 10px
  .sort
    display flex
    align-self flex-end
  .collection-sort
    display flex
    flex-direction column
    &:first-child
      padding-right 20px
  label
    color #666
    font-size 1rem
    font-weight 500
    line-height 2em
    text-transform uppercase

  .products
    display flex
    flex-wrap wrap

  .product-card
    display flex
    flex-direction column
    padding 2%
    flex 1 16%
    background-color #FFF
    box-shadow 0px 0px 1px 0px rgba(0, 0, 0, 0.25)

  .product-image
    display: flex
    img
      width auto
      margin: 0 auto
      max-height 270px
      max-width 210px
      overflow hidden
  .product-info
    margin-top: auto
    padding-top: 20px
    text-align: center
    .order
      margin-top auto
      padding 5px
      text-align center
      display: block
      font-size: 1.5rem
      width: 100%
      a
        text-decoration: none;

  @media ( max-width: 920px )
    .product-card
      flex 1 21%

  .products .product-card:first-child,
  .products .product-card:nth-child(2)
    @media ( max-width: 920px )
      flex 2 46%

    @media ( max-width: 600px )
      .product-card
        flex 1 46%

    @media ( max-width: 480px )
      h1
        margin-bottom 20px
      .product-filter
        flex-direction column
      .sort
        align-self flex-start
