<template name="mmenu">
    <nav id="menu">
        <ul>
            <li>  <section class="login-extra" style="margin:10px">
        {{#if size}}
         {{>loginButtons}}
         {{/if}}
    </section>
    </li>
            <li><a href="/">Home</a></li>
            <li><a href="{{pathFor '/design'}}">Design</a></li>
            <li><a href="{{pathFor '/hosting'}}">Hosting</a></li>
            <li><a href="{{pathFor '/seo'}}">Seo</a></li>
            <li><a href="{{pathFor '/Tutorial'}}">Tutorial</a></li>
            <li><a href="{{pathFor '/ecommerce'}}">Ecommerce</a></li>
            <li><a href="pathFor '/contact'">Contact</a></li>

        </ul>
    </nav>
</template>