<template name="okayNav">
    <nav role="navigation" id="nav-main" class="okayNav">
            <ul>
                <li>
                    <a href="{{pathFor '/'}}">Home</a>
                </li>
                <li>
                    <a href="#menu">services</a>
                </li>
                <li>
                    <a href="{{pathFor '/products'}}">Products</a>
                </li>
                <li>
                    <a href="{{pathFor '/guide'}}">Guide</a>
                </li>
                <li>
                    <a href="{{pathFor '/contact'}}">Contact</a>
                </li>
            </ul>
        </nav>
    </template>